<section class="hero-section">
    <div class="container">
      <!-- Left Section -->
      <div class="left-square">
        <div>
          <h1>Kyiv<br> LuxeBouquets <span>®</span></h1>
          <p>
            Discover Uniquely Crafted Bouquets and Gifts for Any Occasion.<br>
            Supported by Our Online Flower Delivery Service.
          </p>
        </div>
        <div class="left-square-bottom">
          <img src="assets/images/imghero.png" alt="Hero Section Image">
          <div class="line"></div>
          <div class="left-square-bottom-right">
            <p>
              Experience the joy of giving with our<br>
              modern floral studio. Order online and<br>
              send fresh flowers, plants, and gifts<br>
              today.
            </p>
          </div>
        </div>
      </div>
  
      <!-- Right Section -->
      <div class="right-squares">
        <div class="square">
          <h1>Fresh Flowers</h1>
          <a href="">Shop now &#11106;</a>
        </div>
        <div class="square">
          <img src="assets/images/carditem1.jpg" alt="Dried Flowers">
        </div>
        <div class="square">
          <img src="assets/images/carditem.png" alt="Live Plants">
        </div>
        <div class="square">
          <h1>Dried Flowers</h1>
          <a href="">&#x2B60; Shop now</a>
        </div>
      </div>
    </div>
</section>
<section class="second-section">
    <div class="container">
        <div class="left-square-second"></div>
        <div class="right-squares-second">
            <div class="square">
              <h1>Live Plants</h1>
              <a href="">Shop now &#11106;</a>
            </div>
            <div class="square">
              <img src="assets/images/cartitem6.png" alt="Dried Flowers">
            </div>
            <div class="square">
              <img src="assets/images/cartitem4.png" alt="Live Plants">
            </div>
            <div class="square">
              <h1>Aroma Candels</h1>
              <a href="">&#x2B60; Shop now</a>
            </div>
            <div class="square">
                <h1>Fresheners</h1>
                <a href="">Shop now &#11106;</a>
            </div>
            <div class="square">
                <img src="assets/images/cartitem5.png" alt="Dried Flowers">
            </div>
        </div>
    </div>
</section>

<section class="third-section">
    <div class="container">
        <div class="left-square">
            <h1>About us</h1>
        </div>
        <div class="right-squares-third">
            <div class="right-square">
                <h2>OUR STORY</h2>
                <h1>Kyiv LuxeBouquets</h1>
                <p>We are a modern local floral studio, which specializes in the design and<br>delivery of unique bouquets. We have the best florists who carefully select<br>each look, our studio cooperates directly with farms for growing different<br>flowers, so we always have fresh flowers, which are collected by our florists<br>in exquisite bouquets. We have a collection of fresh bouquets, collections<br>of dried bouquets, house plants, as well as fragrant candles from luxury<br>brands to create the perfect atmosphere. Make someone's day amazing<br>by sending flowers, plants and gifts the same or next day. Ordering flowers<br>online has never been easier.</p>
                <button>LEARN MORE</button>             
            </div>
        </div>
    </div>

</section>
  