<section class="footer-section">
    <div class="container">
        <div class="first-container">
            <div class="first">
              <p>Remember to offer beautiful flowers <br>from Kyiv LuxeBouquets Valentines <br>Day, Mothers Day, Christmas... <br>Reminds you 7 days before. No spam <br>or sharing your address</p>
              <form (ngSubmit)="sendReminder()" #reminderForm="ngForm">
                <input
                  type="email"
                  name="email"
                  [(ngModel)]="userEmail"
                  placeholder="Your Email"
                  required
                  email
                />
                <button type="submit" [disabled]="!reminderForm.valid">REMIND</button>
              </form>
            </div>
          </div>
        <div class="second-container">
            <div class="second">
                <h2>Contact Us</h2>
                <div>
                    <h3>Address</h3>
                    <p>15/4 Khreshchatyk Street, Kyiv</p>
                </div>
                <div>
                    <h3>Phone</h3>
                    <p>+380980099777</p>
                </div>
                <div>
                    <h3>General Enquiry:</h3>
                    <p>Kiev.Florist.Studio&#64;gmail.com</p>
                </div>
                <h2>Follow Us</h2>
                <div class="address">
                    <img src="assets/images/Brands/Icon.png" alt="">
                    <img src="assets/images/Brands/Icon1.png" alt="">
                    <img src="assets/images/Brands/Icon2.png" alt="">
                    <img src="assets/images/Brands/Icon3.png" alt="">
                    <img src="assets/images/Brands/Icon4.png" alt="">
                  </div>
            </div>
        </div>
        <div class="third-container">
            <div class="third">
                <h2>Shop</h2>
                <div>
                    <p>All Products</p>
                    <p>Fresh Flowers</p>
                    <p>Dried Flowers</p>
                    <p>Live Plants</p>
                    <p>Designer Vases</p>
                    <p>Aroma Candles</p>
                    <p>Freshener Diffuser</p>
                </div>
                <h2>Service</h2>
                <p>Flower Subscription</p>
                <p>Wedding & Event Decor</p>
            </div>
        </div>
        <div class="fourth-container">
            <div class="fourth">
                <h2>About Us</h2>
                <div>
                    <p>Our story</p>
                    <p>Blog</p>
                </div>
                <div>
                    <p>Shipping & returs</p>
                    <p>Terms & conditions</p>
                    <p>Privacy policy</p>
                </div>
            </div>
        </div>
    </div>
</section>