<header class="header">
  <div class="header-container">
    <nav class="menu-left">
      <ul>
        <li class="Shop">
          <a (click)="navigate()">
            {{ isCategoryPage ? 'Home' : 'Shop' }}
          </a>
        </li>
        <li><a (click)="scrollToContact()">Contact</a></li>
      </ul>
    </nav>

    <nav class="menu-right">
      <ul>
        <li class="SignIn">
          <a *ngIf="!signedInUser" href="/signin">Sign In</a>
          <span *ngIf="signedInUser" class="user-name">
            Welcome, {{ signedInUser }} <a (click)="signOut()">Sign Out</a>
          </span>
        </li>
        <li><a href="/checkout">Cart</a></li>
      </ul>
    </nav>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <nav class="responsive-menu" [class.active]="menuOpen">
      <ul>
        <li>
          <a (click)="navigate()">
            {{ isCategoryPage ? 'Home' : 'Shop' }}
          </a>
        </li>
        <li><a (click)="scrollToContact()">Contact</a></li>
        <li>
          <a *ngIf="!signedInUser" href="/signin">Sign In</a>
          <span *ngIf="signedInUser" class="user-name">
            Welcome, {{ signedInUser }} <a (click)="signOut()">Sign Out</a>
          </span>
        </li>
        <li><a href="/checkout">Cart</a></li>
      </ul>
    </nav>
  </div>
</header>
