<section class="sixth-section">
    <div>
      <h1>Our Service</h1>
    </div>
  </section>
  
  <section class="seventh-section">
    <div class="container">
      <div class="left-square">
        <img src="assets/images/3f77ff7aedcc49446ef737194357fb48.png" alt="">
      </div>
      <div class="right-square">
        <div class="up">
          <p class="service">SERVICE</p>
          <h1>Flower Subscription</h1>  
          <p>Experience the convenience and savings of regular flower deliveries<br>with our flexible subscription service - up to 30% more profitable<br>than one-time purchases.</p>
        </div>
        <button>SUBSCRIBE NOW</button>
      </div>
    </div>
  </section>
  
  <section class="eighth-section">
    <div class="container">
      <div class="up">
        <p class="service">SERVICE</p>
        <h1>Wedding & Event Decor</h1>
        <p>Let our team of expert florists and designers create stunning, on-trend<br>floral décor for your special day. Trust us to bring your vision to life.</p>
      </div>
      <button>INQUIRE NOW</button>
    </div>
  
  </section>