.hero-section {
    .container {
      max-width: 1440px;
      margin: 0 auto;
      display: flex; 
      justify-content: space-between;
      align-items: flex-start; 
    }
  
    .left-square {
      width: 720px;
      height: 720px;
      border-right: 1px solid #000000;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
  
      h1 {
        font-size: 67px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: left;
        font-family: sans-serif;
      }
  
      p {
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        font-family: sans-serif;
      }

      span{
        font-weight: 100;
      }

      .left-square-bottom{
        border-top: 1px solid black;
        padding-top: 30px;
        display: flex;
      }

      .left-square-bottom {
        display: flex;
        align-items: flex-end;
      }
      
      .left-square-bottom img{
        border-right: 1px solid black;
        padding-right: 30px;
      }

      .left-square-bottom-right{
        padding-left: 30px;
      }

      .left-square-bottom-right p{
        font-size: 14px;
      }
    }
  
    .right-squares {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      
      .square {
        width: 360px;
        height: 360px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        position: relative; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        background: #fff;
        text-align: center;
        
        img {
          max-width: 100%;
          height: auto;
        }
    
        h1 {
          font-size: 38px;
          font-family: sans-serif;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }
    
        a {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: bold;
          position: absolute; 
          bottom: 20px; 
          left: 50%;
          transform: translateX(-50%);
          text-decoration: none;
          color: #000000;
        }
      }
    }
    
  
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: center;
      }
  
      .left-square,
      .right-squares .square {
        width: 100%; 
        height: auto;
      }
  
      .right-squares {
        gap: 10px;
      }
    }
  }
  
  .second-section {
    .container {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; 
      align-items: flex-start;
    }
  
    .left-square-second {
      width: 720px;
      height: 1082px;
      border-right: 1px solid #000000;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
    }
  
    .right-squares-second {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      
      .square {
        width: 360px;
        height: 360px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        position: relative;
        display: flex;
        justify-content: center; 
        align-items: center;
        background: #fff;
        overflow: hidden;
        text-align: center;
        
        img {
          width: 100%; 
          height: 100%; 
          object-fit: cover; 
        }
  
        h1 {
          font-size: 38px;
          font-family: sans-serif;
          position: absolute; 
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          z-index: 2; 
        }
  
        a {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: bold;
          position: absolute; 
          bottom: 20px; 
          left: 50%;
          transform: translateX(-50%);
          text-decoration: none;
          color: #000000;
          z-index: 2;
        }
      }
    }
}