<section class="hero-section">
  <div class="container">
    <!-- Left Section -->
    <div class="left-square">
      <div>
        <h1>Kyiv<br> LuxeBouquets <span>®</span></h1>
        <p>
          Discover Uniquely Crafted Bouquets and Gifts for Any Occasion.<br>
          Supported by Our Online Flower Delivery Service.
        </p>
      </div>
      <div class="left-square-bottom">
        <img src="assets/images/imghero.png" alt="Hero Section Image">
        <div class="line"></div>
        <div class="left-square-bottom-right">
          <p>
            Experience the joy of giving with our<br>
            modern floral studio. Order online and<br>
            send fresh flowers, plants, and gifts<br>
            today.
          </p>
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="right-squares">
      <div class="square">
        <p>Fresh Flowers</p>
      </div>
      <div class="square">
        <img src="assets/images/carditem1.jpg" alt="Dried Flowers">
      </div>
      <div class="square">
        <img src="assets/images/carditem.png" alt="Live Plants">
      </div>
      <div class="square">
        <p>Aroma Candles</p>
      </div>
    </div>
  </div>
</section>
