<section class="hero-section">
    <div class="container">
      <!-- Left large square -->
      <div class="left-square">
        <div>
          <h1>Kyiv<br> LuxeBouquets <span>®</span></h1>
          <p>
            Discover Uniquely Crafted Bouquets and Gifts for Any Occasion.<br />
            Supported by Our Online Flower Delivery Service.
          </p>
        </div>
        <div>
          <img src="assets/images/imghero.png" alt="Hero Section Image" />

        </div>
        
      </div>
  
      <!-- Right four smaller squares -->
      <div class="right-squares">
        <div class="square">
          <img src="" alt="Fresh Flowers" />
          <p>Fresh Flowers</p>
        </div>
        <div class="square">
          <img src="" alt="Dried Flowers" />
          <p>Dried Flowers</p>
        </div>
        <div class="square">
          <img src="" alt="Live Plants" />
          <p>Live Plants</p>
        </div>
        <div class="square">
          <img src="" alt="Aroma Candles" />
          <p>Aroma Candles</p>
        </div>
      </div>
    </div>
</section>
  